<h2>Votar por el juego del año</h2>
<hr />
<div class="row">
  <div class="col">
    <div class="card-columns">
      <div class="card bg-dark" *ngFor="let game of games">
        <img [src]="game.url" class="card-img-top" [alt]="game.name" />
        <div class="card-body">
          <h5 class="card-title">{{ game.name }}</h5>
          <p class="card-text">Click aqui para votar por este juego</p>
          <button
            type="button"
            class="btn btn-outline-primary btn-block"
            (click)="votarJuego(game)"
          >
            Votar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
